{% extends "base.html" %}
{% block content %}
  <div class="container">
    <ul class="questions">
      <li class="question">
        <h3>{{question.title}}</h3>
        <p>{{question.text}}</p>
        <div class="metadata">
          <span class="date">Дата добавления</span>
          <span class="rating">Рейтинг: {{question.rate}}</span>
          <button class="like">👍</button>
          <button class="dislike">👎</button>
        </div>
      </li>
    </ul>
  </div>
{% endblock content %}
