{% extends "base.html" %}
{% block content %}
  <div class="container">    
    <div class="profile-container">
      <div class="profile-info">
        <h1>Username</h1>
        <table>
          <tr>
              <td><strong>Логин:</strong></td>
              <td>{{user.username}}</td>
          </tr>
          <tr>
              <td><strong>Email:</strong></td>
              <td>{{user.email}}</td>
          </tr>
          <tr>
              <td><strong>Возраст:</strong></td>
              <td>{{profile.age}}</td>
          </tr>
        </table>
      </div>
      <div class="profile-avatar">
        <img src="{{ profile.avatar.url }}" alt="Аватар">
        <form method="post" enctype="multipart/form-data" action="{% url 'settings' %}">
            {{EditProfileForm.as_p}}
            {% csrf_token %}
            <button type="submit">Сохранить</button>
        </form>
      </div>
    </div>
    <aside class="sidebar">
      <div class="info-block">
        <h2>Популярные тэги</h2>
        <ul class="tags">
          <span><a href="#">Тэг1</a></span>
          <span><a href="#">Тэг2</a></span>

        </ul>
      </div>

      <div class="info-block">
        <h2>Лучшие пользователи</h2>
        <ol class="users">
          <li><a href="#">Пользователь1</a></li>
          <li><a href="#">Пользователь2</a></li>
        </ol>
      </div>
    </aside>
  </div>
{% endblock content %}
