<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>ask_nisu</title>
</head>
<body>
  <header>
    <div class="logo">AskNisu</div>
    <input type="search" class="search-bar" placeholder="Поиск">
    <button class="ask-question" onclick="openQuestionForm()">Задать вопрос</button>

    <div class="user-block">
      <!-- Для авторизованных пользователей -->
      <!-- <div class="user-info">
        <img src="avatar.jpg" alt="Аватар">
        <span class="username">Ник пользователя</span>

      </div> -->
      
      <!-- Для неавторизованных пользователей -->
      <div class="user-auth">
        <a href="#">Войти</a>
        <a href="#">Регистрация</a>
      </div>
    </div>
  </header>
     
  <div class="container">    
    <div class="profile-container">
      <div class="profile-info">
        <h1>Username</h1>
        <table>
          <tr>
              <td><strong>Логин:</strong></td>
              <td>userlogin</td>
          </tr>
          <tr>
              <td><strong>Email:</strong></td>
              <td>user@example.com</td>
          </tr>
          <tr>
              <td><strong>Никнейм:</strong></td>
              <td>Nickname</td>
          </tr>
        </table>
      </div>
      <div class="profile-avatar">
        <img src="avatar.jpg" alt="Аватар">
        <form method="post" enctype="multipart/form-data" action="#">
          <label for="avatar">Поменять аватарку:</label>
          <input type="file" name="avatar" accept="image/*">
          <button type="submit">Сохранить</button>
        </form>
      </div>
    </div>
    <aside class="sidebar">
      <div class="info-block">
        <h2>Популярные тэги</h2>
        <ul class="tags">
          <span><a href="#">Тэг1</a></span>
          <span><a href="#">Тэг2</a></span>

        </ul>
      </div>

      <div class="info-block">
        <h2>Лучшие пользователи</h2>
        <ol class="users">
          <li><a href="#">Пользователь1</a></li>
          <li><a href="#">Пользователь2</a></li>
        </ol>
      </div>
    </aside>
  </div>
</body>
</html>