
{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="registration-container">
      <form enctype='multipart/form-data' method="post" action="{% url 'signup' %}" >
        {% csrf_token %}
        {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

          {% endif %}

        {{RegisterForm.as_p}}
  
        <button type="submit">Зарегистрироваться</button>
      </form>
    </div>

    <aside class="sidebar">
      <div class="info-block">
        <h2>Популярные тэги</h2>
        <ul class="tags">
          <li><a href="#">Тэг1</a></li>
          <li><a href="#">Тэг2</a></li>
  
        </ul>
      </div>
  
      <div class="info-block">
        <h2>Лучшие пользователи</h2>
        <ol class="users">
          <span><a href="#">Пользователь1</a></span>
          <span><a href="#">Пользователь2</a></span>
        </ol>
      </div>
    </aside>
  </div>
{% endblock content %}
